.ConditionBanner {
  background-image: url('../../assets/Vector\ Smart\ Object.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;

  /* display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: -100px; */
}

.termsHeading {
  margin-top: 70px;
}

/* @media screen and (max-width: 280px) {
  .ConditionBanner {
    margin-top: -140px;
  }
} */