.bgNav {
    background-image: url('../../assets/articleheader.png');
    background-size: cover;
}


.blog-background {
    background-image: url('../../assets/blog.png');
    background-size: cover;
    background-repeat: no-repeat;
}


.Article-Inner-1 {
    border-radius: 15px;
}

.Article-Banner {
    position: relative;
    padding: 5px;
    z-index: 2;
    background-color: white !important;
    border-radius: 15px;
    margin: 20px;
}

.Article-Banner::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 15px;
    margin: -6px;
    background: linear-gradient(to right, #b91532, #9e3040, #9b3342, #8e4049, #755a56, #5f7061, #48876d, #3c9373, #1f8c8a, #207e8c, #226e8e, #236190, #245891, #273c95, #273b95);
}




/* .Article-Banner {
    background-color: white;
    border-radius: 20px;
    border: 2px solid red;
} */

.inner-user-calendar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.Article-Para {
    font-size: 17px;
    margin-top: 20px;
}

.article-blogs {
    position: relative;
    padding: 5px;
    z-index: 2;
    background-color: white;
    border-radius: 15px;
}

.article-blogs-inner {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}

.article-blogs::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 15px;
    margin: -6px;
    background: linear-gradient(to right, #b91532, #9e3040, #9b3342, #8e4049, #755a56, #5f7061, #48876d, #3c9373, #1f8c8a, #207e8c, #226e8e, #236190, #245891, #273c95, #273b95);
}