.Game-blog-header {
    background-image: url('../../assets/real-engine.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}